@font-face {
  font-family: 'Lato-Thin';
  src: url("/fonts/Lato-Thin.ttf")
}

@font-face {
  font-family: 'Lato-Light';
  src: url("/fonts/Lato-Light.ttf")
}

@font-face {
  font-family: 'Lato-Black';
  src: url("/fonts/Lato-Black.ttf")
}

.yellow {
    color: #EFCE1F;
}

a {
    color: #EFCE1F;
    text-decoration: none;
}

a:visited {
    color: #D8BD2E;
}

body {
    background-color: #222;
}

body p {
    font-family: "Lato-Light";
    color: #999;
}

header {
    max-width: 1280px;

    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

header .title a {
    font-family: "Lato-Light";
    color: #999;
    font-weight: bold;
    font-size: clamp(2.5rem, 3vw, 5vw);
    max-width: 640px;
}


.subheading {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

    padding-left: 1rem;
    padding-right: 1rem;

    font-size: clamp(1.5rem, 1.5vw, 2vw);
}

photo-gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

photograph {
    display: block;
    margin-bottom: 20px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 30px;
}

photograph img {
  display: block;
  max-width: 100%;
  margin-bottom: 10px;
}

photograph subtitle {
    display: block;
    padding-right: 1rem;
    font-family: "Lato-Light";
    color: #999;
}

@media (max-width: 600px) {
    header {
        width: 85%;
        min-width: 200px;
    }

    footer {
        width: 85%;
        min-width: 200px;
    }
}
