<photo-gallery id="{{ id }}"> 
{% if type == "page" -%}
    {% set assets = page.assets -%}
{% else -%}
    {% set assets = section.assets -%}
{% endif -%}

{% if size == "large" -%}
    {% set width = 1280 %}
    {% set height = 800 %}
{% else -%}
    {% set width = 640 %}
    {% set height = 400 %}
{% endif -%}

{% for asset in assets -%}
  {%- if asset is matching("[.](jpg|png)$") -%}
    {% set image = resize_image(path=asset, width=width, height=height, op="fit_width") %}
      <img src="{{ image.url }}" />
  {%- endif %}
{%- endfor %}
</photo-gallery>
