{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="single-column">
    <p>I live in Seattle with my wife Mollie, daughter Matia, son Hamilton, and my two dogs Mr. P and Gary. I like to play <a href="/tags/games">video games</a>, lift weights, <a href="/tags/books">read SciFi / Fantasy novels</a>, and <a href="/tags/electronics">repair old electronics</a>. I currently work at <a href="https://www.moment.dev">Moment</a> as a software engineer.</p>

    <p>You can read about what's going on in my head in my <a href="/blog">blog</a>.
</div>
{% endblock content %}
