{% extends "base.html" %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="post">
    <p>I live in Seattle with my wife Mollie, daughter Matia, son Hamilton, and my two dogs Mr. P and Gary. I like to play video games, lift weights, read SciFi / Fantasy novels, and repair old electronics. I currently work at <a href="https://www.moment.dev">Moment</a> as a software engineer.</p>

    <p>You can read about what's going on in my head in my <a href="/blog">blog</a>. Or <a href="/about">about me.</a></p>
</div>
{% endblock content %}
