<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Anders Conbere Photography</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
    <script type="module" src="/js/carousel.js" /></script>
</head>

<body>
    <template id="photo-carousel-template">
        <style>
            #stage {
                display: flex;
                flex-direction: row;
                align-items: stretch;
            }

            #previous {
            }

            #next {
            }

            #expanded-view img {
                max-width: 75%;
            }
        </style>
        <div id="stage">
            <button id="previous">previous</button>
            <div id="container"></div>
            <button id="next">next</button>
        </div>
        <div id="expanded-view">
            <button id="shrink">x</button>
            <img src="" />
        </div>
    </template>

    <header>
        <div class="title">
            <a href="/">Photography</a>
        </div>
    </header>

    <section class="section">
        {{ section.content | safe }}
    </section>

    <footer>
    </footer>
</body>
</html>
