<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Anders Conbere Photography</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css">
</head>

<body>
    <header>
        <div class="title">
            <a href="/">Photography Page</a>
        </div>
    </header>

    <section class="section">
        <div class="container">
            {{ page.content | safe }}
        </div>
    </section>

    <footer>
    </footer>
</body>
</html>


