<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <title>Anders' Wiki</title>
    <link rel="stylesheet" href="{{ get_url(path='css/style.css', trailing_slash=false) | safe }}"/>
    <link rel="shortcut icon" type="image/x-icon" href="{{ get_url(path=config.extra.favicon, trailing_slash=false) }}">
</head>

<body>
    <header>
        <div class="title">
            <a href="/wiki">Wiki</a>/{{ page.title }}
        </div>
    </header>

    <h1>{{page.title}}</h1>

    <section class="section">
        <p class="subheading yellow">
        </p>

        {{ page.content | safe }}
    </section>

    <footer>
    </footer>
</body>
</html>


